{% extends 'base.html.twig' %}
{% block title %}Travel Mate | Création d'une destination future{% endblock %}

{% block body %}
    <h2 class="page-header">Ajout d'une destination future</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ ivory_google_map(map) }}
    {{ ivory_google_api([map]) }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/framework/js/maps.js') }}"></script>
{% endblock %}
