{% extends 'base.html.twig' %}
{% block title %}Travel Mate | {{ trip.title }}{% endblock %}

{% block body %}
    <h1>Posté par: {{ user.username  }}</h1>
    <a class="btn btn-default" href="/trips">Retour à la liste</a>
    <hr>
    <h2 class="page-header">{{ trip.title }}</h2>
    {% if (trip.imageTrip) %}
        <img src="../../uploads/imageTrips/{{ trip.imageTrip }}" alt="">
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">Destionation: {{ trip.destination|countryName }}</li>
                <li class="list-group-item">Date de départ:
                    <strong>{{ trip.dateDeparture|date('d.m.Y, g:i a') }}</strong>
                </li>
                <li class="list-group-item">Type de voyage: <strong>{{ trip.type }}</strong></li>
                <li class="list-group-item">Difficulté: <strong>{{ trip.difficulty }}</strong></li>
                <li class="list-group-item">Prix: <strong>{{ trip.price }}</strong></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Description</h3>
            <p>
                {{ trip.description }}
            </p>
        </div>
        <div class="col-md-12">
            {{ ivory_google_map(map) }}
            {{ ivory_google_api([map]) }}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
    <div class="row">
        <a href="../../trip/edit/{{ trip.id }}" class="btn btn-success">Modifier</a>
        <a href="../../trip/delete/{{ trip.id }}" class="btn btn-danger">Supprimer</a>
    </div>
{% endif %}
{% endblock %}
