{% extends 'base.html.twig' %}
{% block title %}Travel Mate | {{ user.username }}{% endblock %}
{% block body %}
    <h1>{{ user.name }}</h1>
    <p>{{ user.description }}</p>
    <img src="../../uploads/user/profilepics/{{ user.imageName }}" alt="image de {{ user.username }}">
{% endblock %}