<div class="col-md-4 col-trip">
    {#<h3>{{  user.username}}</h3>#}
    <h4>{{ trip.title }}</h4>
    {% if (trip.imageTrip) %}
        <img class="col-md-4" src="uploads/imageTrips/{{ trip.imageTrip }}" alt="">
    {% endif %}
    <p>{{ trip.description[:100] }}</p>
    <p>{{ trip.destination }}</p>
    <p>{{ trip.dateDeparture| date("d.m.Y") }}</p>
    <a href="trip/details/{{ trip.id }}" class="btn btn-primary">Voir</a>
</div>